section.advantages
  .container
    h2.advantages__title Преимущества
    .row.advantages__row
      .col-12.col-lg-4
        .advantages__item
          img.advantages__item-image(src="img/ad1.svg")
          .advantages__item-title 5 лет гарантия
          .advantages__item-description
            | Конструкции и работы в наших домах соответствуют или
            | превосходят действующие нормы и правила. Поэтому мы не боимся давать такую гарантию.
      .col-12.col-lg-4
        .advantages__item
          img.advantages__item-image(src=("img/ad2.svg"))
          .advantages__item-title Работа строго по договору
          .advantages__item-description
            | Тщательно описываем все подробности в договоре и
            | следуем по заранее намеченному плану. Договор обеспечит Вам гарантию в том, что вы получите
            | именно то, что желаете.
      .col-12.col-lg-4
        .advantages__item
          img.advantages__item-image(src=("img/ad3.svg"))
          .advantages__item-title 100% контроль качества
          .advantages__item-description
            | В нашей команде есть специально обученный человек
            | который следит за качеством выполняемых работ на каждом этапе строительства.
      .col-12.col-lg-4
        .advantages__item
          img.advantages__item-image(src=("img/ad4.svg"))
          .advantages__item-title Поэтапная оплата
          .advantages__item-description
            | Специально для тех случаев, когда клиент не готов
            | отдавать всю сумму сразу есть возможность оплачивать частями. Ведь мы понимаем, что
            | строительство это не дешево, а для кого-то это цена многолетних накоплений.
      .col-12.col-lg-4
        .advantages__item
          img.advantages__item-image(src=("img/ad5.svg"))
          .advantages__item-title Строим как для себя
          .advantages__item-description
            | Все объекты строим собственными силами, проверенными
            | специалистами. Это дает дополнительную гарантию качества выполняемых работ. Все привлекаемые
            | партнеры также имеют многолетний опыт сотрудничества с нами и доказали свой профессионализм
            | и надежность.
      .col-12.col-lg-4
        .advantages__item
          img.advantages__item-image(src=("img/ad6.svg"))
          .advantages__item-title Разрешительная документация
          .advantages__item-description
            | Не редко наши клиенты не имеют опыта оформления
            | документов на газ, электричество и др. Мы всегда готовы проконсультировать либо возложить
            | оформление на себя.s
    .advantages__arrows
      svg.advantages__arrow-left(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
        path(d='M0,0H24V24H0Z', fill='none')
        path(d='M20,11H7.83l5.59-5.59L12,4,4,12l8,8,1.41-1.41L7.83,13H20Z', fill='#fff')
      .advantages__arrows-counter
        span.advantages__arrows-counter-current 1
        span  /  
        span.advantages__arrows-counter-common 6
      svg.advantages__arrow-right(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
        path(d='M0,0H24V24H0Z', fill='none')
        path(d='M20,11H7.83l5.59-5.59L12,4,4,12l8,8,1.41-1.41L7.83,13H20Z', fill='#fff')
