section.banner
  .container
    .row
      .col-12.col-lg-4.order-2.order-lg-1
        h1.banner__title Строим жилые дома и коттеджи по РБ
        .banner__description
          | Получите бесплатную консультацию
          br
          | от наших экспертов
        button.button.banner__button(data-target='modal') Получить
      .col-12.col-lg-8.order-1.order-lg-2
        #bannerImage.banner__image
          img.banner__image-img.animation.animated.animated-x-start(src=("img/banner.jpg"), alt='ТаланСтрой')
