section.contacts
  .container
    .contacts__title Контакты
    .contacts__info  
      .row
          .col-12.col-lg-5
            .contacts__left
              .contacts__left-top Для консультации
              a.contacts__left-bottom(href="tel:83472669027") +7 (347) 266-90-27   
          .col-12.col-lg-7
            .contacts__right
              | 450005, Республика Башкортостан, 
              br
              | г. Уфа, улица 50-Летия Октября, дом 6,
              br
              | корпус 8, офис 36
    include ../includes/map        
