section.credit
  .container
    .row
      .col-12.col-lg-6
        .credit__left
          h2.credit__title
            | Ипотечный кредит
            br
            | от Сбербанка
          p.credit__text Сбербанк выдает деньги по этой ипотечной программе только в том случае, если человек предоставит план будущего дома, смету на его строительство, договор с компанией-подрядчиком и разрешение на проведение соответствующей работы от государственных органов. Получить в рамках этой программы можно только 75% от оценки будущего дома (проводится независимыми специалистами) или столько же, но от стоимости залогового имущества.
          button.button.credit__button(data-target='modalMail') ПОЛУЧИТЬ НЕОБХОДИМЫЕ ДОКУМЕНТЫ
      .col-12.col-lg-6
        .credit__right
          .row
            .col-6
              .credit__item
                .credit__item-top
                  |от
                  b  25
                  |  %
                .credit__item-bottom первоначальный взнос
            .col-6
              .credit__item
                .credit__item-top
                  | от
                  b  3
                  |  х
                .credit__item-bottom дней на рассмотрение заявки
            .col-6
              .credit__item
                .credit__item-top
                  | от
                  b  11,6
                  |  %
                .credit__item-bottom годовых
            .col-6
              .credit__item
                .credit__item-top
                  | до
                  b  30
                  |  лет
                .credit__item-bottom срок кредита
