section.evaluation
  .container
    .row
      .col-12.col-lg-3
        .evaluation__left
          h2.evaluation__title
            | Проведём
            | оценку
            | проекта
          .evaluation__title-adding
            | строительной компании
            | на соответствие СП
          .evaluation__owner
            | Виктор 
            br
            | Быков
          .evaluation__owner-description
            | Директор строительной
            br
            |  компании «ТаланСтрой»
      .offset-lg-4.col-12.col-lg-5
        form#evaluationForm.evaluation__form
          .evaluation__form-title Заполните форму ниже
          .evaluation__form-title-adding и в ближайшее время мы позвоним
          .input_wrapper
            input#name.input.evaluation__form-input(type='text', name='name', value='')
            label.input__label(for='name') Ваше имя
            .input__error(hidden='') Введите ваше имя
          .input_wrapper
            input#phone.input.evaluation__form-input(type='tel', name='tel', value='')
            label.input__label(for='phone') Ваш номер телефона
            .input__error(hidden='') Введите номер телефона
          input#file.evaluation__form-hidden-file(hidden='', type='file', name='file', value='')
          .evaluation__form-file
            svg#baseline-attach_file-24px.evaluation__form-file-icon(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
              path#Path_1207(data-name='Path 1207', d='M16.5,6V17.5a4,4,0,0,1-8,0V5a2.5,2.5,0,0,1,5,0V15.5a1,1,0,0,1-2,0V6H10v9.5a2.5,2.5,0,0,0,5,0V5A4,4,0,0,0,7,5V17.5a5.5,5.5,0,0,0,11,0V6Z', fill='#5f8724')
              path#Path_1208(data-name='Path 1208', d='M0,0H24V24H0Z', fill='none')
            .evaluation__form-file-title ПРИКРЕПИТЬ СМЕТУ
          button.button.evaluation__form-button(type='submit') ПОЛУЧИТЬ СКИДКУ
          include ../includes/policy
