footer.footer
  .container
    .footer__top
      .row
        .col-12.col-lg-2
          img.footer__logo(src=("img/logo-white.svg"), alt='ТаланСтрой')
        .col-12.col-lg-2 
          .footer__description
            | Все виды строительных 
            | работ и услуг
        .offset-lg-5.col-12.col-lg-3.d-flex.justify-content-end
          button.footer__button(data-target='modal') ПОЗВОНИТЕ МНЕ
    .footer__bottom
      .row
        .col-12.col-lg-9
          .footer__text Использование материалов с данного сайта, 
                        | разрешена только по согласию с владельцем. Владелец оставляет 
                        | за собой право воспользоваться 146 статьей УК РФ при нарушении авторских и смежных прав. Вся информация предоставленная на сайте информация ни при каких условиях не является публичной офертой, 
                        | определяемой положениями Статьи 437 (2) Гражданского кодекса РФ
      .footer__rights
        .row
          .col-12.col-lg-2.order-1.order-lg-0
            .footer__rights-first © 2019 ТаланСтрой
          .col-12.col-lg-5.order-0.order-lg-1
            .footer__rights-row
              .footer__rights-item ОГРН 1180280048981
              .footer__rights-item ИНН 0278943223
              .footer__rights-item КПП 027801001
script(type="text/javascript" src="/js/script.js")