section.gost
  .container
    .row
      .col-12.col-lg-5
        .gost__magazine_wrapper
          img.gost__magazine(src=("img/magazine.png"))
      .col-12.col-lg-7
        h2.gost__title
          | Все наши дома соответствуют и даже превосходят действующие
          b   СП
          |  и
          b  ГОСТ
        .gost__table
          .row
            .col-12.col-lg-6
              p.gost__table-title Основные документы:
            .col-12.col-lg-6
              p.gost__table-item
                | - СП 22.13330.2016 Основания зданий и сооружений
              p.gost__table-item
                | - СП 15.13330.2012 Каменные и армокаменные конструкции
              p.gost__table-item - СП 70.13330.2012 Несущие и ограждающие конструкции
              p.gost__table-item - СП 20.13330.2017 Кровли
              p.gost__table-item - СП 50.13330.2012 Тепловая защита зданий и т.д.
        .gost__table
          .row
            .col-12.col-lg-6
              p.gost__table-title Что это за документы?
            .col-12.col-lg-6
              p.gost__table-item
                | Свод правил разработанные научно-исследовательскими,
                | проектно-изыскательскими и
                | конструкторско-технологическими институтами в соответствии с которыми *рекомендовано
                | строить дома в Российской Федерации
