head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Талан
  link(rel="stylesheet" href="/css/style.css")
  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
