header.header.d-flex.align-items-center
  .container
    .row.align-items-center
      .col-6.col-lg-2
        .header__logo
          img.header__logo-img(src=("img/logo.svg"), alt='ТаланСтрой')
      .d-none.d-lg-block.col-lg-6
        .header__description
          | Все виды строительных
          br
          | работ и услуг
      .d-none.d-lg-flex.col-lg-2.justify-content-end
        .header__time
          .header__time-top Ежедневно
          .header__time-bottom с 09:00 до 21:00
      .d-none.d-lg-flex.col-lg-2.justify-content-end
        .header__phone
          .header__phone-top Для консультации
          a.d-block.header__phone-bottom(href='tel:83472669027') +7 (347) 266-90-27
      .d-flex.justify-content-end.d-lg-none.col-6
        a(href='tel:83472669027')
          img.header__logo-img(src=("img/phone.svg"), alt='Телефон')
