.house#timberHouse
  .house__top.house_timber
    button.house__close
      svg.house__close-icon(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
        g#baseline-keyboard_arrow_right-24px(transform='translate(24 24) rotate(180)')
          path#Path_1415(data-name='Path 1415', d='M8.59,16.59,13.17,12,8.59,7.41,10,6l6,6-6,6Z', fill='#fff')
          path#Path_1416(data-name='Path 1416', d='M0,0H24V24H0Z', fill='none')
      | ЗАКРЫТЬ
    .house__title Брус
    .house__price от 9 990 ₽ за м²  
  .house__info
    .house__info-title Черновой от 9 990 ₽ за м²
    .house__text Цоколь; cтены 150х150; простенки 150х100; холодная кровля; черновой пол; окна.
    .house__info-title Получистовой от 13 500 ₽ за м²
    .house__text 
      | Черновой; обработка антисептиком; утепленная кровля; утепленный пол; утепленные межэтажные 
      | перекрытия; обналичка на окна; входная дверь; настил фанеры на пол или монолитный теплый пол.
    .house__info-title С коммуникациями от 16 000 ₽ за м²
    .house__text Получистовой; канализация; отопление; водоснабжение; электромонтаж
    button.button.house__button ПОЛУЧИТЬ ПРОЕКТЫ
.house#brickHouse
  .house__top.house_timber
    button.house__close
      svg.house__close-icon(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
        g#baseline-keyboard_arrow_right-24px(transform='translate(24 24) rotate(180)')
          path#Path_1415(data-name='Path 1415', d='M8.59,16.59,13.17,12,8.59,7.41,10,6l6,6-6,6Z', fill='#fff')
          path#Path_1416(data-name='Path 1416', d='M0,0H24V24H0Z', fill='none')
      | ЗАКРЫТЬ
    .house__title Кирпич
    .house__price от 9 990 ₽ за м²  
  .house__info
    .house__info-title Черновой от 9 990 ₽ за м²
    .house__text Цоколь; cтены 150х150; простенки 150х100; холодная кровля; черновой пол; окна.
    .house__info-title Получистовой от 13 500 ₽ за м²
    .house__text
      | Черновой; обработка антисептиком; утепленная кровля; утепленный пол; утепленные межэтажные 
      | перекрытия; обналичка на окна; входная дверь; настил фанеры на пол или монолитный теплый пол.
    .house__info-title С коммуникациями от 16 000 ₽ за м²
    .house__text Получистовой; канализация; отопление; водоснабжение; электромонтаж
    button.button.house__button ПОЛУЧИТЬ ПРОЕКТЫ
.house#blockHouse
  .house__top.house_timber
    button.house__close
      svg.house__close-icon(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
        g#baseline-keyboard_arrow_right-24px(transform='translate(24 24) rotate(180)')
          path#Path_1415(data-name='Path 1415', d='M8.59,16.59,13.17,12,8.59,7.41,10,6l6,6-6,6Z', fill='#fff')
          path#Path_1416(data-name='Path 1416', d='M0,0H24V24H0Z', fill='none')
      | ЗАКРЫТЬ
    .house__title Блок
    .house__price от 9 990 ₽ за м²  
  .house__info
    .house__info-title Черновой от 9 990 ₽ за м²
    .house__text Цоколь; cтены 150х150; простенки 150х100; холодная кровля; черновой пол; окна.
    .house__info-title Получистовой от 13 500 ₽ за м²
    .house__text
      | Черновой; обработка антисептиком; утепленная кровля; утепленный пол; утепленные межэтажные 
      | перекрытия; обналичка на окна; входная дверь; настил фанеры на пол или монолитный теплый пол.
    .house__info-title С коммуникациями от 16 000 ₽ за м²
    .house__text Получистовой; канализация; отопление; водоснабжение; электромонтаж
    button.button.house__button ПОЛУЧИТЬ ПРОЕКТЫ
