.preloader
  svg.preloader__svg(xmlns='http://www.w3.org/2000/svg', width='57', height='57', viewBox='0 0 57 57')
    g#Group_1551(data-name='Group 1551', transform='translate(295 -617) rotate(90)')
      g#Ellipse_2(data-name='Ellipse 2', transform='translate(617 238)', fill='none', stroke='#5f8724', stroke-width='8')
        circle(cx='28.5', cy='28.5', r='28.5', stroke='none')
        circle(cx='28.5', cy='28.5', r='24.5', fill='none')
      rect#Rectangle_85(data-name='Rectangle 85', width='57', height='29', transform='translate(617 238)', fill='#fff')

