section.price
  .container
    h2.price__title Расценки на дома
  .price__row_wrapper
    .container.container_slider
      .price__row
        .price__item(data-target="#timberHouse")
          img.price__item-image(src=("img/timber.jpg"), alt='Брус')
          .price__item-name Брус
          .price__item-number от 9 990 ₽ за м²
          button.price__item-button(data-target="#timberHouse")
            span Подробнее
            svg#baseline-keyboard_arrow_right-24px(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
              path#Path_1415(data-name='Path 1415', d='M8.59,16.59,13.17,12,8.59,7.41,10,6l6,6-6,6Z', fill='#32383e')
              path#Path_1416(data-name='Path 1416', d='M0,0H24V24H0Z', fill='none')
        .price__item(data-target="#brickHouse")
          img.price__item-image(src=("img/brick.jpg"), alt='Брус')
          .price__item-name Кирпичный
          .price__item-number от 9 990 ₽ за м²
          button.price__item-button(data-target="#brickHouse")
            span Подробнее
            svg#baseline-keyboard_arrow_right-24px(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
              path#Path_1415(data-name='Path 1415', d='M8.59,16.59,13.17,12,8.59,7.41,10,6l6,6-6,6Z', fill='#32383e')
              path#Path_1416(data-name='Path 1416', d='M0,0H24V24H0Z', fill='none')
        .price__item(data-target="#blockHouse")
          img.price__item-image(src=("img/block.jpg"), alt='Брус')
          .price__item-name Блок
          .price__item-number от 9 990 ₽ за м²
          button.price__item-button(data-target="#blockHouse")
            span Подробнее
            svg#baseline-keyboard_arrow_right-24px(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
              path#Path_1415(data-name='Path 1415', d='M8.59,16.59,13.17,12,8.59,7.41,10,6l6,6-6,6Z', fill='#32383e')
              path#Path_1416(data-name='Path 1416', d='M0,0H24V24H0Z', fill='none')
