-
  const projects = [
  {
  name: "Жилой дом из бруса в Нагаево",
  place: "с. Нагаево",
  square: "140 м²",
  squareEarth: "10 соток",
  floors: "2",
  time: "5 месяцев",
  price: "4 500 000 ₽"
  },
  {
  name: "Жилой дом из бруса в Нагаево",
  place: "с. Нагаево",
  square: "140 м²",
  squareEarth: "10 соток",
  floors: "2",
  time: "5 месяцев",
  price: "4 500 000 ₽"
  },
  ]

section.projects
  .container
    h2.projects__title Готовые проекты
    .projects__slider
      .projects__slider-item
        .row.no-gutters
          .col-12.col-lg-6
            .project__slider-images
              img.projects__slider-item-image(src=("img/project1.jpg"))
              img.projects__slider-item-image(src=("img/block.jpg"))
          .col-12.col-lg-6.projects__slider-item-info_styles
            .projecs__slider-items
              each project in projects
                .projects__slider-item-info
                  .projects__slider-item-title Жилой дом из бруса в Нагаево
                  .projects__slider-item-values
                    .row
                      .col-6.col-lg-4
                        .projects__slider-item-value
                          .projects__slider-item-value-top МЕСТОПОЛОЖЕНИЕ
                          .projects__slider-item-value-bottom с. Нагаево
                      .col-6.col-lg-4
                        .projects__slider-item-value
                          .projects__slider-item-value-top ПЛОЩАДЬ
                          .projects__slider-item-value-bottom 140 м²
                    .row
                      .col-6.col-lg-4
                        .projects__slider-item-value
                          .projects__slider-item-value-top ПЛОЩАДЬ УЧАСТКА
                          .projects__slider-item-value-bottom 10 соток
                      .col-6.col-lg-4
                        .projects__slider-item-value
                          .projects__slider-item-value-top ЭТАЖЕЙ
                          .projects__slider-item-value-bottom 2
                    .row
                      .col-6.col-lg-4
                        .projects__slider-item-value
                          .projects__slider-item-value-top СРОК СТРОИТЕЛЬСТВА
                          .projects__slider-item-value-bottom 5 месяцев
                      .col-6.col-lg-4
                        .projects__slider-item-value
                          .projects__slider-item-value-top СТОИМОСТЬ
                          .projects__slider-item-value-bottom 4 500 000 ₽ 
    .row
      .offset-lg-6.col-12.col-lg-6
        .projects__slider-arrows
          svg.projects__slider-arrows-btn.projects__slider-arrows-prev(xmlns='http://www.w3.org/2000/svg', width='48', height='48', viewBox='0 0 48 48')
            g#Group_244(data-name='Group 244', transform='translate(146 410) rotate(180)')
              g#Rectangle_5(data-name='Rectangle 5', transform='translate(98 362)', fill='none', stroke='#32383e', stroke-width='1')
                rect(width='48', height='48', rx='24', stroke='none')
                rect(x='0.5', y='0.5', width='47', height='47', rx='23.5', fill='none')
              g#baseline-keyboard_arrow_left-24px(transform='translate(110 374)')
                path#Path_1413(data-name='Path 1413', d='M15.41,16.59,10.83,12l4.58-4.59L14,6,8,12l6,6Z', fill='#32383e')
                path#Path_1414(data-name='Path 1414', d='M0,0H24V24H0Z', fill='none')
          .projects__slider-arrows-count
            span.projects__slider-arrows-count-current 1
            span  из    
            span.projects__slider-arrows-count-common  2
          svg.projects__slider-arrows-btn.projects__slider-arrows-next(xmlns='http://www.w3.org/2000/svg', width='48', height='48', viewBox='0 0 48 48')
            g#Group_244(data-name='Group 244', transform='translate(146 410) rotate(180)')
              g#Rectangle_5(data-name='Rectangle 5', transform='translate(98 362)', fill='none', stroke='#32383e', stroke-width='1')
                rect(width='48', height='48', rx='24', stroke='none')
                rect(x='0.5', y='0.5', width='47', height='47', rx='23.5', fill='none')
              g#baseline-keyboard_arrow_left-24px(transform='translate(110 374)')
                path#Path_1413(data-name='Path 1413', d='M15.41,16.59,10.83,12l4.58-4.59L14,6,8,12l6,6Z', fill='#32383e')
                path#Path_1414(data-name='Path 1414', d='M0,0H24V24H0Z', fill='none')
