section.queeze
  .container
    .row
      .offset-lg-2.col-12.col-lg-8
        h2.queeze__title Подберите идеальный проект дома
        .queeze__description
          | Заполните поля, нажмите кнопку «Готово, высылайте проекты» и в ближайшее
          | время вам на почту придёт подборка
        form#queezeForm.queeze__form
          .queeze__form-progress
            .queeze__form-progress-current
            .queeze__form-progress-info
              span Вопрос &nbsp;
              span.queeze__form-progress-current-index 1
              span  из 6
          .queeze__form-content
            .queeze__form-item
              .queeze__form-item-title Необходимая площадь дома
              .row
                .col-6.col-lg-3
                  .radio_wrapper
                    input#square0_50.radio__input(type='radio', name='square', value="square0_50")
                    label.radio__label(for='square0_50') 0-50 м²
                .col-6.col-lg-3
                  .radio_wrapper
                    input#square100_150.radio__input(type='radio', name='square', value="square100_150")
                    label.radio__label(for='square100_150') 100-150 м²
                .col-6.col-lg-3
                  .radio_wrapper
                    input#square200_250.radio__input(type='radio', name='square', value="square200_250")
                    label.radio__label(for='square200_250') 200-250 м²
                .col-6.col-lg-3
                  .radio_wrapper
                    input#square350.radio__input(type='radio', name='square', value="square350")
                    label.radio__label(for='square350') >350 м²
                .col-6.col-lg-3
                  .radio_wrapper
                    input#square50_100.radio__input(type='radio', name='square', value="square50_100")
                    label.radio__label(for='square50_100') 50-100 м²
                .col-6.col-lg-3
                  .radio_wrapper
                    input#square150_200.radio__input(type='radio', name='square', value="square150_200")
                    label.radio__label(for='square150_200') 150-200 м²
                .col-6.col-lg-3
                  .radio_wrapper
                    input#square300_350.radio__input(type='radio', name='square', value="square300_350")
                    label.radio__label(for='square300_350') 300-350 м²
            .queeze__form-item
              .queeze__form-item-title С какого материала хотите дом?
              .row
                .col-6.col-lg-3
                  .radio_wrapper
                    input#timber.radio__input(type='radio', name='material', value="timber")
                    label.radio__label(for='timber') кирпич
                .col-6.col-lg-3
                  .radio_wrapper
                    input#ceramic.radio__input(type='radio', name='material', value="ceramic")
                    label.radio__label(for='ceramic') керамоблок
                .col-6.col-lg-3
                  .radio_wrapper
                    input#concrete.radio__input(type='radio', name='material', value="concrete")
                    label.radio__label(for='concrete') бетонные блоки
                .col-6.col-lg-3
                  .radio_wrapper
                    input#other.radio__input(type='radio', name='material', value="other")
                    label.radio__label(for='other') прочие
                .col-6.col-lg-3
                  .radio_wrapper
                    input#areoconcrete.radio__input(type='radio', name='material', value="areoconcrete")
                    label.radio__label(for='areoconcrete') газобетон
                .col-6.col-lg-3
                  .radio_wrapper
                    input#carcass.radio__input(type='radio', name='material', value="carcass")
                    label.radio__label(for='carcass') каркас
                .col-6.col-lg-3
                  .radio_wrapper
                    input#monocarcass.radio__input(type='radio', name='material', value="monocarcass")
                    label.radio__label(for='monocarcass') монолитный каркас
            .queeze__form-item
              .queeze__form-item-title Планируемый бюджет на строительство в рублях:
              .row
                .col-6.col-lg-4
                  .radio_wrapper
                    input#price1.radio__input(type='radio', name='price', value="1")
                    label.radio__label(for='price1') до 1 млн.
                .col-6.col-lg-4
                  .radio_wrapper
                    input#price2_4.radio__input(type='radio', name='price', value="2_4")
                    label.radio__label(for='price2_4') от 2 до 4 млн.
                .col-6.col-lg-4
                  .radio_wrapper
                    input#price6_8.radio__input(type='radio', name='price', value="6_8")
                    label.radio__label(for='price6_8') от 6 до 8 млн.
                .col-6.col-lg-4
                  .radio_wrapper
                    input#price1_2.radio__input(type='radio', name='price', value="1_2")
                    label.radio__label(for='price1_2') от 1 до 2 млн.
                .col-6.col-lg-4
                  .radio_wrapper
                    input#price4_6.radio__input(type='radio', name='price', value="4_6")
                    label.radio__label(for='price4_6') от 4 до 6 млн.
                .col-6.col-lg-4
                  .radio_wrapper
                    input#price8.radio__input(type='radio', name='price', value="8")
                    label.radio__label(for='price8') более 8 млн.
            .queeze__form-item
              .queeze__form-item-title Какой дом вам нужен
              .row
                .col-6.col-lg-4
                  .radio_wrapper
                    input#type1.radio__input(type='radio', name='type', value="1")
                    label.radio__label(for='type1') Одноэтажный
                .col-6.col-lg-4
                  .radio_wrapper
                    input#type2.radio__input(type='radio', name='type', value="2")
                    label.radio__label(for='type2') Двухэтажный
                .col-6.col-lg-4
                  .radio_wrapper
                    input#type3.radio__input(type='radio', name='type', value="3")
                    label.radio__label(for='type3') Трехэтажный
                .col-6.col-lg-4
                  .radio_wrapper
                    input#type1_add.radio__input(type='radio', name='type', value="1_add")
                    label.radio__label(for='type1_add') Одноэтажный с мансардой
                .col-6.col-lg-4
                  .radio_wrapper
                    input#type2_add.radio__input(type='radio', name='type', value="2_add")
                    label.radio__label(for='type2_add') Двухэтажный с мансардой
            .queeze__form-item
              .queeze__form-item-title Количество спален
              .row
                .col-6.col-lg-4
                  .radio_wrapper
                    input#rooms1.radio__input(type='radio', name='rooms', value="1")
                    label.radio__label(for='rooms1') 1
                .col-6.col-lg-4
                  .radio_wrapper
                    input#rooms3.radio__input(type='radio', name='rooms', value="3")
                    label.radio__label(for='rooms3') 3
                .col-6.col-lg-4
                  .radio_wrapper
                    input#rooms5.radio__input(type='radio', name='rooms', value="5")
                    label.radio__label(for='rooms5') 5
                .col-6.col-lg-4
                  .radio_wrapper
                    input#rooms2.radio__input(type='radio', name='rooms', value="2")
                    label.radio__label(for='rooms2') 2
                .col-6.col-lg-4
                  .radio_wrapper
                    input#rooms4.radio__input(type='radio', name='rooms', value="4")
                    label.radio__label(for='rooms4') 4
                .col-6.col-lg-4
                  .radio_wrapper
                    input#rooms5more.radio__input(type='radio', name='rooms', value="more5")
                    label.radio__label(for='rooms5more') более 5
            .queeze__form-item
              .queeze__form-item-title Наличие гаража
              .queeze__form-item-garage
                .row
                  .col-6
                    .radio_wrapper
                      input#garage.radio__input(type='radio', name='garage', value="true")
                      label.radio__label(for='garage') с гаражом
                  .col-6
                    .radio_wrapper
                      input#garageNone.radio__input(type='radio', name='garage', value="false")
                      label.radio__label(for='garageNone') без гаража
          .queeze__form-controllers
            .row.align-items-center
              .col-12.col-lg-6
                button.button.queeze__form-next СЛЕДУЮЩИЙ ВОПРОС
              .col-12.col-lg-6
                .queeze__form-miss ПРОПУСТИТЬ ВОПРОС
          .queeze__form-finish
            .queeze__form-finish-title Проекты подобраны
            .queeze__form-finish-description Заполните оставшиеся поля и в ближайшее время мы вышлем вам каталог проектов
            .input_wrapper.queeze__form-finish-input
              input#queezeName.input.evaluation__form-input.input_light(type='text', name='queezeName', value='')
              label.input__label(for='queezeName') Ваша эл. почта
              .input__error(hidden='') Введите эл. почту
            .input_wrapper.queeze__form-finish-input
              input#queezePhone.input.evaluation__form-input.input_light(type='tel', name='queezeTel', value='')
              label.input__label(for='queezePhone') Ваш номер телефона
              .input__error(hidden='') Введите номер телефона
            button.button.queeze__form-submit(type="submit") ГОТОВО, ВЫСЫЛАЙТЕ ПРОЕКТЫ
            include ../includes/policy
