section.questions
  .container
    .row
      .col-12.col-lg-3
        .questions__left
          h2.questions__title Остались вопросы?
          .questions__cta Задайте их главному прорабу прямо сейчас
          .questions__description Оставьте заявку в форме справа или позвоните нам по телефону
          a.questions__phone(href="tel:83472669027") +7 347 266-90-27
          .questions__worker 
            |Дмитрий
            br
            |Тимофеев
          .questions__worker-description 
            | Заместитель директора
            br
            | по строительству
      .col-12.offset-lg-4.col-lg-5
        form.questions__form#questionsForm
          .questions__form-title Выберите удобный способ связи
          .questions__form-types
            .row
              .col-6.col-lg-3
                .questions__form-type.questions__form-type_active#phoneType
                  svg.questions__form-type-icon(xmlns='http://www.w3.org/2000/svg', width='24', height='32.013', viewBox='0 0 24 32.013')
                    path#Path_1654(data-name='Path 1654', d='M-5.937,3.688A1.475,1.475,0,0,0-5.25,4a.838.838,0,0,0,.688-.187l4-2.5A.948.948,0,0,0-.062.75.948.948,0,0,0-.125,0l-2-5.062a1.015,1.015,0,0,0-.437-.5A1.311,1.311,0,0,0-3.25-5.75l-3.5.375a16.861,16.861,0,0,1-.937-5.594,17.412,17.412,0,0,1,.938-5.656l3.5.375a1.311,1.311,0,0,0,.688-.187,1.015,1.015,0,0,0,.438-.5l2-5.062a.948.948,0,0,0,.063-.75.948.948,0,0,0-.5-.562l-4-2.5A.838.838,0,0,0-5.25-26a1.475,1.475,0,0,0-.687.313,20.812,20.812,0,0,0-5.375,9.438,20.389,20.389,0,0,0,0,10.5A20.083,20.083,0,0,0-5.937,3.688Zm9.375-25.75a.664.664,0,0,0-.531-.344.9.9,0,0,0-.656.219l-.375.375a.792.792,0,0,0-.187.375.705.705,0,0,0,.063.5,1.883,1.883,0,0,1,0,1.875.705.705,0,0,0-.062.5.792.792,0,0,0,.188.375l.375.375a.9.9,0,0,0,.656.219.664.664,0,0,0,.531-.344A4.155,4.155,0,0,0,4-20,4.155,4.155,0,0,0,3.438-22.062Zm5.75-5.687A.625.625,0,0,0,8.656-28a.962.962,0,0,0-.594.188l-.312.375a.594.594,0,0,0-.25.5.676.676,0,0,0,.188.5A9.851,9.851,0,0,1,10-20a9.851,9.851,0,0,1-2.312,6.438.676.676,0,0,0-.187.5.594.594,0,0,0,.25.5l.313.375A.962.962,0,0,0,8.656-12a.625.625,0,0,0,.531-.25,11.813,11.813,0,0,0,2.5-5,12.256,12.256,0,0,0,0-5.5A11.813,11.813,0,0,0,9.188-27.75ZM6.313-24.937a.711.711,0,0,0-.531-.281A.713.713,0,0,0,5.188-25l-.375.375a.761.761,0,0,0-.219.469.544.544,0,0,0,.156.469A5.889,5.889,0,0,1,6-20a5.889,5.889,0,0,1-1.25,3.688.544.544,0,0,0-.156.469.761.761,0,0,0,.219.469L5.188-15a.713.713,0,0,0,.594.219.711.711,0,0,0,.531-.281A7.876,7.876,0,0,0,8-20,7.876,7.876,0,0,0,6.313-24.937Z', transform='translate(12 28)', fill='#32383e')
                  .questions__form-type-title Телефон
              .col-6.col-lg-3      
                .questions__form-type#whatsAppType
                  svg.questions__form-type-icon(xmlns='http://www.w3.org/2000/svg', width='28', height='28', viewBox='0 0 28 28')
                    path#Path_1653(data-name='Path 1653', d='M9.813-21.937a14.493,14.493,0,0,1,3.094,4.531A13.179,13.179,0,0,1,14-12.125a13.273,13.273,0,0,1-1.906,6.938A14.211,14.211,0,0,1,6.969-.125,13.606,13.606,0,0,1,0,1.75H0A13.507,13.507,0,0,1-6.625.063L-14,2l2-7.187a13.44,13.44,0,0,1-1.875-6.937A13.44,13.44,0,0,1-12-19.062a14.04,14.04,0,0,1,5.063-5.062A13.44,13.44,0,0,1,0-26a13.512,13.512,0,0,1,5.281,1.063A14.564,14.564,0,0,1,9.813-21.937ZM0-.562A11.367,11.367,0,0,0,5.813-2.125a11.872,11.872,0,0,0,4.281-4.219,11.033,11.033,0,0,0,1.594-5.781A10.733,10.733,0,0,0,10.75-16.5a12.362,12.362,0,0,0-2.594-3.781,11.581,11.581,0,0,0-3.75-2.531A11.313,11.313,0,0,0,0-23.687a11.2,11.2,0,0,0-5.781,1.563A11.7,11.7,0,0,0-10-17.906a11.2,11.2,0,0,0-1.562,5.781A11.087,11.087,0,0,0-9.75-6l.25.438-1.187,4.25,4.375-1.125.438.25A11.144,11.144,0,0,0,0-.562ZM6.313-9.25l.188.125a1.109,1.109,0,0,1,.5.313,1.607,1.607,0,0,1,.031.625,3.238,3.238,0,0,1-.25,1.031,2.606,2.606,0,0,1-1,1.063A3.159,3.159,0,0,1,4.438-5.5a5.725,5.725,0,0,1-1.687,0,12.98,12.98,0,0,1-2.5-.875A14.139,14.139,0,0,1-5.562-11.5l-.125-.125a6.314,6.314,0,0,1-1.375-3.562A3.952,3.952,0,0,1-5.937-18l.063-.062a1.314,1.314,0,0,1,.938-.437h.75a.782.782,0,0,1,.406.094.858.858,0,0,1,.281.469l1.063,2.563a.689.689,0,0,1,.063.625,4.3,4.3,0,0,1-.812,1.125,1.4,1.4,0,0,0-.312.406q-.063.156.125.344a8.084,8.084,0,0,0,2.063,2.563A16.014,16.014,0,0,0,1.313-8.75q.5.25.75-.062.813-.937,1.125-1.375.125-.25.313-.25a1.836,1.836,0,0,1,.438.063Q4.437-10.187,6.313-9.25Z', transform='translate(14 26)', fill='#32383e')
                  .questions__form-type-title WhatsApp
              .col-6.col-lg-3
                .questions__form-type#viberType
                  svg.questions__form-type-icon(xmlns='http://www.w3.org/2000/svg', width='30.338', height='32', viewBox='0 0 30.338 32')
                    path#Path_1651(data-name='Path 1651', d='M11.75-24.875a10.284,10.284,0,0,1,2.938,5.563A30.192,30.192,0,0,1,14.875-9.5a10.2,10.2,0,0,1-3.437,6.938A10.5,10.5,0,0,1,7.375-.687L7-.625A16.812,16.812,0,0,1,4-.062,30.851,30.851,0,0,1-2.5.125Q-3.812,1.562-4.375,2.188l-.5.563a10.784,10.784,0,0,1-1,1,1.349,1.349,0,0,1-1.187.188.851.851,0,0,1-.531-.469,2.869,2.869,0,0,1-.219-.719V-.875A9.177,9.177,0,0,1-13.125-4.5a12.991,12.991,0,0,1-1.812-5.375,25.531,25.531,0,0,1-.187-5,21.379,21.379,0,0,1,.75-5.625A9.609,9.609,0,0,1-12-24.687a10.792,10.792,0,0,1,3.75-2.125,21.531,21.531,0,0,1,4.125-.937A21.754,21.754,0,0,1-.812-28H.563a23.988,23.988,0,0,1,8,1.313A10.708,10.708,0,0,1,11.75-24.875Zm.875,14.813a25.151,25.151,0,0,0-.125-8.375,8.37,8.37,0,0,0-2.437-4.812,7.6,7.6,0,0,0-2.75-1.437A22.474,22.474,0,0,0,.438-25.75H-.75a20.8,20.8,0,0,0-2.812.188,19.835,19.835,0,0,0-3.5.75A8.71,8.71,0,0,0-10.187-23a8.071,8.071,0,0,0-2.062,3.5,18.506,18.506,0,0,0-.625,4.688v.375a30.184,30.184,0,0,0,.125,4.188,10.85,10.85,0,0,0,1.5,4.375A7.685,7.685,0,0,0-6.937-2.937h0L-7,2.438q0,.438.219.531t.531-.219q.625-.625,2.5-2.812L-2-2.187a27.722,27.722,0,0,0,5.563-.187,18.462,18.462,0,0,0,2.625-.5l.375-.062a8.4,8.4,0,0,0,3.25-1.5A8.312,8.312,0,0,0,12.625-10.062ZM3.938-15.125A2.664,2.664,0,0,0,1.125-18q-.375,0-.406.406t.344.406a2.008,2.008,0,0,1,2.063,2.125q0,.375.406.375T3.938-15.125Zm1.25.688q0,.438.406.438T6-14.375a5.517,5.517,0,0,0-1.406-4A5.831,5.831,0,0,0,.5-20.187q-.375,0-.406.406t.344.406A5.167,5.167,0,0,1,4-17.812,4.607,4.607,0,0,1,5.188-14.437Zm2.938.875a8.492,8.492,0,0,0-2.437-6.375A7.96,7.96,0,0,0-.187-22.25q-.438,0-.437.406t.438.406a7.232,7.232,0,0,1,5.25,2,7.817,7.817,0,0,1,2.25,5.875q0,.375.406.375T8.125-13.562ZM7.438-7.437a1.148,1.148,0,0,0-.25-1.5,13.351,13.351,0,0,0-2.875-2,1.129,1.129,0,0,0-.906-.219,1.178,1.178,0,0,0-.719.406L2.063-10a.841.841,0,0,1-.562.313l-.312.063a6.525,6.525,0,0,1-2.562-1.312A6.557,6.557,0,0,1-3-12.687a7.969,7.969,0,0,1-.812-1.562l-.25-.687v-.312a.841.841,0,0,1,.313-.562l.75-.562a1.178,1.178,0,0,0,.406-.719,1.479,1.479,0,0,0-.156-.969q-.5-.875-.937-1.5l-1.125-1.375a1.148,1.148,0,0,0-1.5-.25h0A6.372,6.372,0,0,0-8-19.812a2.192,2.192,0,0,0-.437,1.875l.375.813A18.538,18.538,0,0,0-6.75-14.406a25.831,25.831,0,0,0,1.875,2.844A15.645,15.645,0,0,0-2.25-8.937a25.553,25.553,0,0,0,3.5,2.25A17.069,17.069,0,0,0,4.188-5.375h0a1.953,1.953,0,0,0,1.875-.437A5.441,5.441,0,0,0,7.438-7.437Z', transform='translate(15.161 28)', fill='#32383e')
                  .questions__form-type-title Viber 
              .col-6.col-lg-3
                .questions__form-type#telegramType
                  svg.questions__form-type-icon(xmlns='http://www.w3.org/2000/svg', width='28.018', height='23.498', viewBox='0 0 28.018 23.498')
                    path#Path_1652(data-name='Path 1652', d='M13.938-21.812a1.946,1.946,0,0,0-.312-1.844,1.4,1.4,0,0,0-1.5-.219l-24.812,9.563q-1.25.5-1.312,1.125t1,.938l6.375,2,14.75-9.312a1.485,1.485,0,0,1,.594-.219q.281-.031.375.125t-.156.344L-3-8.5l-.5,6.563a1.564,1.564,0,0,0,.813-.187,3.661,3.661,0,0,0,.5-.437l3.125-3L7.375-.812a1.576,1.576,0,0,0,1.469.219,1.833,1.833,0,0,0,.844-1.344Z', transform='translate(14.003 23.991)', fill='#32383e')
                  .questions__form-type-title Telegram   
          .input_wrapper
            input#questionsPhone.input.questions__form-input.input_light(type='tel', name='tel', value='')
            label.input__label(for='questionsPhone') Ваш номер телефона
            .input__error(hidden='') Введите номер телефона
          button.button.questions__submit(type="submit") СВЯЖИТЕСЬ СО МНОЙ    
          include ../includes/policy
