section.rules
  .container
    .row
      .offset-lg-1.col-12.col-lg-10
        h2.rules__title
          b
            | 90% компаний, удешевляя конструкцию дома для создания более
            | привлекательной
            | цены,
          br
          |             не соблюдают требования СП и ГОСТ
          |             тем самым подвергая Вашу жизнь опасности.
        button.button.rules__button(data-target='modal') ПОЛУЧИТЬ СВОД ПРАВИЛ
