section.services
  .services__header
    .container
      .row
        .offset-lg-3.col-12.col-lg-6
          h2.services__title Услуги компании
          p.services__description
            | Мы предлагаем все виды строительных работ и услуг на рынке Уфы
            | и
            | Республике Башкортостан.
  .services__inner
    .row.no-gutters
      .col-12.col-lg-3
        .service__item
          img.service__item-image(src="img/service1.jpg", alt='Возведение и снос построек')
          .service__item-title Возведение и снос построек
      .col-12.col-lg-3
        .service__item
          img.service__item-image(src=("img/service2.jpg"), alt='Общестроительные и отделочные работы')
          .service__item-title Общестроительные и отделочные работы
      .col-12.col-lg-3
        .service__item
          img.service__item-image(src=("img/service3.jpg"), alt='Устройство инженерных коммуникаций')
          .service__item-title Устройство инженерных коммуникаций
      .col-12.col-lg-3
        .service__item
          img.service__item-image(src=("img/service4.jpg"), alt='Сопутствующие работы')
          .service__item-title Сопутствующие работы
