.thanks
  svg.ok(xmlns='http://www.w3.org/2000/svg', width='230', height='230', viewBox='0 0 230 230')
    g#Group_1656(data-name='Group 1656', transform='translate(-618 -183)')
      g#Ellipse_3(data-name='Ellipse 3', transform='translate(618 183)', fill='#5f8724', stroke='#707070', stroke-width='1')
        circle(cx='115', cy='115', r='115', stroke='none')
        circle(cx='115', cy='115', r='114.5', fill='none')
      g#baseline-done-24px(transform='translate(666 231)')
        path#Path_232(data-name='Path 232', d='M0,0H135V135H0Z', fill='none')
        path#Path_233(data-name='Path 233', d='M34.182,68.965,11.1,43.858,3.4,52.227,34.182,85.7l65.96-71.734L92.447,5.6Z', transform='translate(16.925 23.402)', fill='#fff')
  .thanks__top Спасибо за ваше
  .thanks__bottom 
    | обращение, ближайшее время
    br
    | мы позвоним
