section.watcher
  img(src=("img/camera.png")).watcher__camera.watcher__object
  img(src=("img/tablet.png")).watcher__tablet.watcher__object
  .container
    .row
      .col-12.col-lg-5
        h2.watcher__title Наблюдение за ходом строительства не выходя из дома
        .watcher__price
          .watcher__price-top Всего за
          .watcher__price-bottom 4900 ₽ / месяц
