section.workers
  .container
    h2.workers__title Наши строители
    .row
      .col-6.col-lg-3
        .workers__item
          img.worker__item-image(src=("img/worker1.jpg"))
          .workers__item-title
            .workers__item-name Виктор
            .workers__item-surname Быков
          .workers__item-description Директор строительной компании «ТалантСтрой»
      .col-6.col-lg-3
        .workers__item
          img.worker__item-image(src=("img/worker2.jpg"))
          .workers__item-title
            .workers__item-name Дмитрий
            .workers__item-surname Тимофеев
          .workers__item-description Заместитель директора по строительству
      .col-6.col-lg-3
        .workers__item
          img.worker__item-image(src=("img/worker3.jpg"))
          .workers__item-title
            .workers__item-name Андрей
            .workers__item-surname Трегубов
          .workers__item-description Руководитель группы по монтажу инженерных коммуникаций
      .col-6.col-lg-3
        .workers__item
          img.worker__item-image(src=("img/worker4.jpg"))
          .workers__item-title
            .workers__item-name Геннадий
            .workers__item-surname Васильев
          .workers__item-description Прораб общестроительных работ
    button.button.workers__button(data-target='modal') ЗАДАТЬ ВОПРОС
