@import "includes/bs-grid/grid";
@import "includes/colors.scss";
@import "includes/normalize.scss";
@import "includes/buttons.scss";
@import "includes/inputs.scss";
@import "includes/radio.scss";
@import "includes/slick.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=cyrillic');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: $black;
  overflow-x: hidden;
  font-weight: 400;
  -webkit-overflow-scrolling: touch;
}

button {
  text-transform: uppercase;
}

* {
  outline: none;
}

.body_fixed {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}

// Preloader

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes preloader_rotate {
  from {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.preloader__svg {
  animation: preloader_rotate 1s infinite linear;
}


// Header

.header {
  height: 82px;
  background: $white;
}

.header__logo-img {
  width: 100%;
  max-width: 170px;
}

.header__description {
  font-size: 12px;
}

.header__time-top, .header__phone-top {
  color: #32383E;
  opacity: 0.7;
}

.header__time-bottom, .header__phone-bottom {
  font-weight: bold;
}

.header__phone-bottom {
  color: #32383E;
  text-decoration: none;
}

.header__phone-bottom:hover {
  color: $green;
}


// Banner

.banner {
  min-height: 445px;
  margin-bottom: 94px;
}

.banner_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.banner__title {
  margin-top: 45px;
  width: 100%;
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  margin-bottom: 24px;
}

.banner__description {
  margin-bottom: 32px;
  font-size: 18px;
}

.banner__button {
  width: 100%;
  max-width: 310px;
}

.banner__image-img {
  width: 100%;
}

// Price

.price {
  margin-bottom: 56px;
  flex-flow: row nowrap;
}

.price__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  margin-bottom: 32px;
}

.price__row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.price__item {
  width: calc(33.333% - 30px);
  cursor: pointer;
}

.price__item:hover {
  color: $green;
}

.price__item:hover path:first-child {
  fill: $green;
}

.price__item:hover .price__item-button {
  color: $green;
}

.price__item-image {
  width: 100%;
  margin-bottom: 16px;
  height: 270px;
  object-fit: cover;
}

.price__item-name {
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 16px;
}

.price__item-number {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 16px;
}

.price__item-button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  padding: 0;
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.price__item-button:hover {
  color: $green_hover;
}

.price__item-button:hover path:first-child {
  fill: $green_hover;
}

// Services

.services__header {
  padding: 32px 0 40px 0;
  background: $light;
  text-align: center;
}

.services__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  margin-bottom: 24px;
}

.services__description {
  font-size: 14px;
  line-height: 21px;
}

.service__item {
  position: relative;
  height: 430px;
}

.service__item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  background: rgba(50, 56, 62, 0.4);
}

.service__item-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.service__item-title {
  position: absolute;
  top: 322px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: $white;
  z-index: 9;
}

// Gost

.gost {
  padding: 80px 0 48px 0;
}

.gost__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  margin-bottom: 40px;
}

.gost__table-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.gost__table-item {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 0;
}

.gost__table {
  margin-bottom: 24px;
}

.gost__table:last-child {
  margin-bottom: 0;
}

.gost__magazine_wrapper {
  position: relative;
}

.gost__magazine {
  height: 770px;
  position: absolute;
  right: 0;
  top: 0;
}

// Rules

.rules {
  background: $light;
  padding: 46px 0 56px 0;
}

.rules__title {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 400;
  b {
    font-weight: 700;
  }
}

.rules__button {
  margin: 0 auto;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  height: 64px;
  width: 100%;
  max-width: 370px;
}

// Advantages

.advantages {
  padding: 40px 0 0 0;
  background: $black;
  color: $white;
}

.advantages__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  margin-bottom: 64px;
  text-align: center;
  color: $white;
}

.advantages__item {
  margin-bottom: 56px;
  text-align: center;
}

.advantages__item-image {
  display: block;
  margin: 0 auto 24px auto;
}

.advantages__item-title {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.advantages__item-description {
  font-size: 14px;
  line-height: 21px;
}

.advantages__arrows {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.advantages__arrow-right {
  transform: rotate(180deg);
}

// Evaluation

.evaluation {
  padding: 35px 0 160px 0;
  background: url("../img/owner.png") no-repeat 43% top;
  background-size: auto 100%;
}

.evaluation__title {
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  margin-bottom: 24px;
  margin-top: 0;
}

.evaluation__title-adding {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 126px;
}

.evaluation__owner {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 8px;

  br {
    display: none;
  }
}

.evaluation__owner-description {
  font-size: 14px;
  line-height: 21px;
}

.evaluation__form {
  padding: 24px 32px;
  background: $light;
}

.evaluation__form-title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
  font-weight: 500;
}

.evaluation__form-title-adding {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  font-weight: 400;
}

.evaluation__form-file {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
  cursor: pointer;
  max-width: 100%;
}

.evaluation__form-file-icon {
  margin-right: 8px;
}

.evaluation__form-file-title {
  padding-bottom: 4px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: $green;
  border-bottom: 2px dashed $green;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.evaluation__form-file-title:hover {
  color: $green_hover;
  border-bottom-color: $green_hover;
}

.evaluation__form-button {
  width: 100%;
  margin-bottom: 24px;
}

.policy {
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  a {
    font-weight: 700;
    color: $green;
    border-bottom: 1px dashed $green;
    text-decoration: none;
  }

  a:hover {
    color: $green_hover;
  }
}

// Queeze

.queeze {
  padding: 54px 0 64px 0;
  background: url("../img/queeze-bg.jpg") no-repeat;
  background-size: cover;
}

.queeze__title {
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 700;
  color: $white;
  margin-top: 0;
}

.queeze__description {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 40px;
  text-align: center;
  color: $white;
}

.queeze__form {
  padding: 40px 100px;
  background: $white;
  border-radius: 6px;
}

.queeze__form-progress {
  border-radius: 21px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $light;
  margin-bottom: 40px;
  position: relative;
}

.queeze__form-progress-info {
  font-size: 14px;
  line-height: 20px;
  position: relative;
  transition: 400ms all linear;
}

.queeze__form-progress-info_white {
  color: $white;
}

.queeze__form-progress-current {
  width: calc(100% / 6);
  border-radius: 21px;
  background: $green;
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  transition: 400ms all linear;
}

.queeze__form-item-title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 40px;
  text-align: center;
}

.queeze__form-controllers {
  margin-top: 30px;
}

.queeze__form-next {
  width: 100%;
  font-weight: 500;
}

.queeze__form-miss {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 100ms all linear;
}

.queeze__form-miss:hover {
  color: $green;
}

.queeze__form-item-garage {
  padding-left: 100px;
  padding-right: 100px;
}

.queeze__form-finish {
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
  text-align: center;
  display: none;
}

.queeze__form-finish-input {
  margin-bottom: 24px;
}

.queeze__form-finish-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 14px;
}

.queeze__form-finish-description {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 24px;
}

.queeze__form-submit {
  width: 100%;
  margin-bottom: 16px;
}

// Credit

.credit {
  padding: 54px 0 64px 0;
}

.credit__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  margin-bottom: 32px;
  margin-top: 0;
}

.credit__text {
  line-height: 24px;
  margin-bottom: 40px;
}

.credit__button {
  font-weight: 500;
}

.credit__left, .credit__right {
  height: 100%;
}

.credit__right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background: url("../img/credit.svg") no-repeat center center;
}

.credit__item {
  margin-bottom: 40px;
}

.credit__item-top {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 8px;
  font-weight: 500;

  b {
    font-size: 48px;
    line-height: 54px;
    font-weight: 600;
  }
}

.credit__item-bottom {
  font-size: 20px;
  line-height: 24px;
}

// Watcher

.watcher {
  height: 549px;
  background: url("../img/bg-watcher.png") center center;
  background-size: cover;
  color: $white;
  position: relative;
}

.watcher__camera {
  width: 324px;
  top: 0;
  right: -100px;
}

.watcher__tablet {
  width: 470px;
  bottom: 0;
  left: 55%;
  transform: translateX(-50%);
}

.watcher__object {
  position: absolute;
}

.watcher__title {
  margin-top: 66px;
  margin-bottom: 148px;
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
}

.watcher__price-top {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 8px;
}

.watcher__price-bottom {
  font-size: 48px;
  line-height: 54px;
  font-weight: 500;
}

// Workers

.workers {
  padding: 48px 0;
}

.workers__title {
  font-size: 38px;
  line-height: 44px;
  margin-bottom: 40px;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
}

.workers__item {
  text-align: center;
  margin-bottom: 40px;
}

.worker__item-image {
  width: 100%;
  display: block;
  margin-bottom: 16px;
}

.workers__item-title {
  margin-bottom: 8px;
  font-weight: 700;
}

.workers__item-name {
  font-size: 24px;
  line-height: 28px;
}

.workers__item-surname {
  font-size: 20px;
  line-height: 26px;
}

.workers__item-description {
  font-size: 14px;
  line-height: 18px;
}

.workers__button {
  max-width: 220px;
  margin: 0 auto;
}

// Projects

.projects {
  padding: 40px 0 20px 0;
  background: $light;
}

.projects__slider {
  position: relative;
}

.projects__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}

.projects__slider-item-image {
  width: 100%;
  display: block;
  height: 400px;
  object-fit: cover;
}

.projects__slider-item-info_styles {
  background: $white;
  height: 400px;
}

.projects__slider-item-info {
  height: 100%;
  background: $white;
  padding-left: 30px;
  padding-top: 32px;
}

.projects__slider-item-title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}

.projects__slider-item-value {
  margin-bottom: 24px;
}

.projects__slider-item-value-top {
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 5px;
}

.projects__slider-item-value-bottom {
  font-size: 18px;
  line-height: 24px;
}

.projects__slider-arrows {
  display: flex;
  align-items: center;
  padding-left: 15px;
  transform: translateY(-90px);
  margin-bottom: -90px;
}

.projects__slider-arrows-btn {
  background: transparent;
  border: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-size: contain;
  transition: 200ms all linear;
}

.projects__slider-arrows-count {
  min-width: 48px;
}

.projects__slider-arrows-btn_active #Rectangle_5 {
  fill: $green;
}

.projects__slider-arrows-btn:hover #Rectangle_5 {
  stroke: $green;
}

.projects__slider-arrows-btn:hover #Path_1413 {
  fill: $green;
}

.projects__slider-arrows-prev {
  transform: rotate(180deg);
  margin-right: 16px;
}

.projects__slider-arrows-next {
  margin-left: 16px;
}

// Questions

.questions {
  min-height: 635px;
  padding-bottom: 64px;
  background: $light;
  padding-top: 107px;
  background: url("../img/questions-bg.png") center bottom no-repeat;
  background-color: $light;
  background-size: contain;
}

.questions__title {
  margin-top: 0;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 40px;
  font-weight: 600;
}

.questions__cta {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 24px;
  font-weight: 500;
}

.questions__description {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 18px;
}

.questions__phone {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 53px;
  line-height: 32px;
  color: $black;
  text-decoration: none;
  display: inline-block;
}

.questions__phone:hover {
  color: $green_hover;
}

.questions__worker {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8px;
  font-weight: 700;
}

.questions__worker-description {
  font-size: 14px;
  line-height: 21px;
}

.questions__form {
  padding: 32px 24px;
  background: $white;
}

.questions__form-type_active {
  color: $green;
}

.questions__form-type_active * {
  fill: $green;
}

.questions__form-title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 27px;
  font-weight: 500;
}

.questions__form-types {
  margin-bottom: 30px;
}

.questions__form-type-icon {
  height: 32px;
  margin-bottom: 8px;
}

.questions__form-type {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.questions__form-type-title {
  font-size: 14px;
  line-height: 18px;
}

.questions__submit {
  margin-bottom: 24px;
}

// Contacts

.contacts {
  padding: 54px 0 40px 0;
}

.contacts__info {
  padding-bottom: 47px;
}

.contacts__title {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 600;
}

.contacts__left-top {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 14px;
}

.contacts__left-bottom {
  font-size: 36px;
  line-height: 40px;
  color: $black;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

.contacts__left-bottom:hover {
  color: $green_hover;
}

.contacts__right {
  font-size: 20px;
  line-height: 26px;
}

// Map

.map {
  height: 465px;
  background: $light;
}

// Footer

.footer {
  padding: 32px 0 40px 0;
  background: $black;
  color: $white;
}

.footer__logo {
  width: 100%;
  display: block;
  max-width: 170px;
}

.footer__description {
  font-size: 12px;
  line-height: 14px;
}

.footer__button {
  width: 200px;
  height: 48px;
  line-height: 1;
  font-weight: 500;
  font-size: 14px;
  border-radius: 6px;
  background: transparent;
  border: 1px solid $white;
  color: $white;
  cursor: pointer;
  transition: 200ms all linear;
}

.footer__button:hover {
  background: $green;
  color: $white;
  border: 1px solid $green;
}

.footer__top {
  margin-bottom: 30px;
}

.footer__text {
  margin-bottom: 32px;
  font-size: 12px;
  line-height: 18px;
}

.footer__rights {
  font-size: 14px;
  line-height: 14px;
}

.footer__rights-row {
  display: flex;
  justify-content: space-between;
}

.footer__rights-item {
  font-size: 14px;
  line-height: 18px;
}

// Overlay

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100vh;
  background: rgba(50, 56, 62, 0.7);
  display: none;
}

// Modal Form

.modal-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 470px;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 20;
  display: none;
}

.modal-form_inner {
  padding: 32px;
  text-align: center;
  background: $white;
}

.modal-form__close {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 15;
  cursor: pointer;
}

.modal-form__button {
  margin-bottom: 24px;
}

.modal-form__title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 8px;
  font-weight: 500;
}

.modal-form__title-adding {
  margin-bottom: 16px;
  line-height: 24px;
}

// House

.house {
  position: fixed;
  right: -568px;
  width: 568px;
  height: 100vh;
  overflow-y: auto;
  top: 0;
  z-index: 20;
  background: $white;
  transition: 200ms all ease-in-out;
  opacity: 0;
}

.house_shown {
  right: 0;
  opacity: 1;
}

.house__top {
  height: 200px;
  padding: 26px 32px 40px 32px;
  color: $white;
}

.house_timber {
  background: url("../img/timber-bg.jpg") no-repeat center center;
  background-size: cover;
}

.house__close {
  background: transparent;
  border: none;
  color: $white;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  margin-bottom: 24px;
  min-width: 106px;
}

.house__close-icon {
  margin-right: 8px;
  transition: 200ms all linear;
}

.house__close:hover .house__close-icon {
  margin-right: 16px;
}

.house__close:hover {
  color: $light;
}

.house__close:hover .house__close-icon #Path_1415 {
  fill: $light;
}

.house__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  margin-bottom: 16px;
}

.house__price {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.house__info {
  padding: 24px 32px;
}

.house__info-title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
  font-weight: 700;
}

.house__text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 32px;
}

.house__text:last-of-type {
  margin-bottom: 48px;
}

.house__button {
  max-width: 270px;
  font-weight: 700;
}

// Thanks

.thanks__top {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
  margin-top: 48px;
}

.thanks__bottom {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

@import "includes/animation";
@import "includes/media";
