doctype html
html(lang='ru')
	include includes/head
	body.body.body_fixed(style='opacity: 0;')
		include includes/houses
		include includes/thanks-modal
		include includes/modal-form
		include includes/mail-form-modal
		include includes/overlay
		include includes/preloader
		include includes/header
		main.main
			include includes/banner
			include includes/price
			include includes/services
			include includes/gost
			include includes/rules
			include includes/advantages
			include includes/evaluation
			include includes/queeze
			include includes/credit
			include includes/watcher
			include includes/workers
			include includes/projects
			include includes/questions
			include includes/contacts
		include includes/footer
