.animated-x-start {
  transform: translateX(300px);
  opacity: 0;
}

.animated-y-start {
  transform: translateY(100px);
  opacity: 0;
}

.animated-x-finish {
  transform: translateX(0);
  opacity: 1;
}

.animated {
  transition: 800ms all ease-in-out;
}

@media (max-width: 992px) {
  .animated-x-start {
    transform: translateX(0);
    opacity: 1;
  }

  .animated-y-start {
    transform: translateY(0);
    opacity: 1;
  }

  .animated-x-finish {
    transform: translateX(0);
    opacity: 1;
  }

  .animated {
    transition: none;
  }
}
