@import "colors.scss";

.button {
  background-color: $green;
  border: 0;
  min-height: 64px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  transition: 100ms background-color linear;
  display: block;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: $green_hover;
}

@media (max-width: 1200px) {
  .button {
    min-height: 54px;
    font-size: 14px;
  }
}
