@import "colors.scss";

.input_wrapper {
  position: relative;
  margin-bottom: 32px;
}

.input {
  width: 100%;
  background: $white;
  height: 64px;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 20px 32px;
  line-height: 18px;
}

.input_light {
  background: $light;
}

.input_error {
  border: 1px solid $red;
}

.input__label {
  font-size: 16px;
  color: $black;
  line-height: 24px;
  position: absolute;
  top: 20px;
  left: 32px;
  pointer-events: none;
  margin: 0;
  transition: 200ms all linear;
}

.input:hover {
  border: 1px solid $grey;
}

.input:focus + .input__label, .input_value + .input__label {
  font-size: 10px;
  top: 14px;
  transform: none;
  line-height: 14px;
}

.input:focus {
  padding-top: 32px;
  padding-bottom: 14px;
  border: 1px solid $grey;
}

.input_value {
  padding-top: 32px;
  padding-bottom: 14px;
}

.input_wrapper-mb24 {
  margin-bottom: 24px;
}

.input__error {
  color: $red;
  min-height: 32px;
  font-size: 12px;
  line-height: 15px;
  padding-top: 4px;
  position: absolute;
  margin-top: 0;
}


@media (max-width: 992px) {
  .input {
    height: 48px;
    padding: 15px 24px;
    font-size: 14px;
  }

  .input:focus + .input__label, .input_value + .input__label {
    top: 10px;
    line-height: 1;
  }

  .input__label {
    top: 15px;
    left: 24px;
    font-size: 14px;
    line-height: 18px;
  }

  .input:focus {
    padding-top: 32px;
    padding-bottom: 14px;
    border: 1px solid $grey;
  }
  
  .input_wrapper {
    margin-bottom: 24px;
  }

  .input__error {
    padding-top: 4px;
  }

  .input_value {
    padding-top: 32px;
    padding-bottom: 14px;
  }
}
