@import "colors.scss";

@media (max-width: 1200px) {
  // Header

  .header__time, .header__phone {
    font-size: 13px;
  }

  // Banner

  .banner__title {
    font-size: 32px;
    line-height: 38px;
  }

  .banner__description {
    font-size: 14px;
  }

  .banner__button {
    max-width: 100%;
  }

  // Evaluation

  .evaluation {
    background-position: 50% top;
  }

  // Watcher

  .watcher__title {
    font-size: 32px;
  }

  // Projects

  .projects__slider-arrows {
    transform: translateY(-60px);
    margin-bottom: -60px;
  }
  
  // Questions
  
  .questions {
    background-position: 52% bottom;
  }
  
  .questions__phone {
    font-size: 24px;
  }
}

@media (max-width: 992px) {
  // Header

  .header {
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: $white;
  }
  
  .main {
    padding-top: 64px;
  }

  // Banner

  .banner__title {
    font-size: 32px;
    line-height: 38px;
    margin-top: 24px;
  }

  // Price

  .price__title {
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
  }

  // Services

  .services__title {
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
    margin-bottom: 24px;
  }

  .services__description {
    font-size: 14px;
    line-height: 21px;
  }

  .service__item {
    height: 180px;
  }

  .service__item-title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    width: 100%;
    max-width: 240px;
  }

  // Gost

  .gost {
    padding: 40px 0 32px 0;
  }

  .gost__title {
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 256px;
  }

  .gost__magazine {
    width: auto;
    height: 216px;
    top: 75px;
    right: 50%;
    transform: translateX(50%);
  }

  // Rules

  .rules {
    padding: 24px 0 40px 0;
  }

  .rules__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 32px;
  }

  .rules__button {
    height: 54px;
  }

  // Advantages

  .advantages {
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .advantages__title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 40px;
  }

  .advantages__item-image {
    margin-bottom: 24px;
  }

  .advantages__item {
    margin-bottom: 24px;
  }

  .advantages__item-title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .advantages__arrows {
    display: flex;
  }

  // Evaluation

  .evaluation {
    background: none;
    padding: 32px 0;
  }

  .evaluation__title {
    font-size: 32px;
    text-align: center;
    line-height: 38px;
    margin-bottom: 24px;
  }

  .evaluation__title-adding {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .evaluation__owner {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
    white-space: pre;

    br {
      display: block;
    }
  }

  .evaluation__left {
    padding-bottom: 58px;
    background: url("../../img/owner-mobile.png") no-repeat 60% bottom;
  }

  .evaluation__form {
    padding: 24px;
  }

  .evaluation__form-title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .evaluation__form-title-adding {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 24px;
    text-align: center;
  }

  .evaluation__form-file-title {
    font-size: 14px;
    line-height: 16px;
  }

  .policy {
    font-size: 12px;
    line-height: 16px;
  }

  // Queeze

  .queeze {
    padding: 40px 0;
  }

  .queeze__title {
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .queeze__description {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 32px;
  }

  .queeze__form {
    padding: 24px;
  }

  .queeze__form-progress {
    margin-bottom: 24px;
  }

  .queeze__form-item-title {
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .queeze__form-controllers {
    margin-top: 40px;
  }

  .queeze__form-next {
    margin-bottom: 24px;
  }

  .queeze__form-item-garage {
    padding: 0;
  }

  // Credit

  .credit {
    padding: 40px 0 25px 0;
  }

  .credit__title {
    margin-bottom: 32px;
    font-size: 28px;
    line-height: 34px;
  }

  .credit__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 24px;
  }

  .credit__left {
    margin-bottom: 24px;
  }

  .credit__right {
    height: 315px;
    background-size: contain;
  }

  .credit__item {
    margin-bottom: 16px;
  }

  .credit__item-top {
    font-size: 28px;
    line-height: 34px;

    b {
      font-size: 32px;
      line-height: 38px;
    }
  }

  .credit__item-bottom {
    font-size: 17px;
    line-height: 21px;
  }

  // Watcher

  .watcher__title {
    margin: 30px 0;
    font-size: 28px;
  }

  .watcher__price-bottom {
    font-size: 32px;
  }

  // Workers

  .workers__title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 24px;
  }

  .workers__item-name {
    font-size: 18px;
    line-height: 22px;
  }

  .workers__item-surname {
    font-size: 16px;
    line-height: 18px;
  }

  .workers__item-title {
    margin-bottom: 4px;
  }

  .workers__item-description {
    font-size: 12px;
    line-height: 16px;
  }

  .workers__item {
    margin-bottom: 32px;
  }

  .workers__button {
    max-width: 280px;
  }
  
  // Projects
  
  .projects__slider-item-image {
    height: 250px;
    object-fit: cover;
    transform: translateY(5px);
  }
  
  .projects__slider-item-info_styles {
    height: auto;
  }
  
  .projects {
    padding: 32px 0;
  }
  
  .projects__title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 24px;
  }
  
  .projects__slider-item-info {
    padding: 24px 24px 104px 24px;
  }
  
  .projects__slider-item-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
  }
  
  .projects__slider-item-value {
    margin-bottom: 16px;
  }
  
  .projects__slider-item-value-top {
    font-size: 10px;
    line-height: 14px;
  }
  
  .projects__slider-item-value-bottom {
    font-size: 18px;
    line-height: 24px;
  }

  .projects__slider-arrows {
    transform: translateY(-80px);
    margin-bottom: -80px;
    justify-content: space-between;
    padding: 0 24px;
  }

  .projects__slider-arrows-next {
    margin-left: 0;
  }

  // Questions

  .questions {
    background-image: none;
    min-height: 0;
    padding: 40px 0 30px 0;
  }
  
  .questions__title {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 38px;
  }
  
  .questions__cta {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }
  
  .questions__description {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px;
  }
  
  .questions__left {
    text-align: center;
    background: url("../../img/questions-bg-mobile.png") 50% bottom no-repeat;
    background-size: 244px;
    padding-bottom: 56px;
  }
  
  .questions__phone {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 44px;
  }
  
  .questions__worker, .questions__worker-description {
    text-align: left;
  }
  
  .questions__form-type {
    margin-bottom: 16px;
  }

  .questions__form-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 24px;
    text-align: center;
  }
  
  .questions__form-types {
    margin-bottom: 8px;
    padding: 0 44px;
  }

  // Contacts
  
  .contacts {
    padding: 32px 0 40px 0;
  }
  
  .contacts__title {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 44px;
  }
  
  .contacts__left-top {
    margin-bottom: 8px;
    font-size: 17px;
    line-height: 21px;
  }
  
  .contacts__left-bottom {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 24px;
    display: inline-block;
  }
  
  .contacts__right {
    font-size: 16px;
    line-height: 21px;
  }
  
  .contacts__info {
    padding-bottom: 32px;
  }
  
  // Map
  
  .map {
    height: 400px;
  }
  
  // Footer
  
  .footer {
    padding: 24px 0 32px 0;
  }
  
  .footer__top {
    text-align: center;
  }
  
  .footer__logo {
    margin: 0 auto 13px auto;
    max-width: 160px;
  }
  
  .footer__description {
    font-size: 12px;
    line-height: 14px;
    width: 160px;
    margin: 0 auto 24px auto;
  }
  
  .footer__button {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .footer__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .footer__rights-first {
    text-align: center;
  }
  
  .footer__rights-row {
    margin-bottom: 32px;
  }
  
  // Houses
  
  .house {
    width: 100%;
    right: -100%;
  }
  
  .house_shown {
    right: 0
  }
}

@media (max-width: 768px) {
  // Price

  .price__item {
    margin-right: 8px;
  }

  .price__item-name {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
  }

  .price__item-number {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
  }

  .price__item-image {
    height: 180px;
  }

  .price__item-button {
    font-size: 14px;
    line-height: 18px;
  }

  // Gost

  .gost__magazine {
    top: 140px;
  }
  
  // Questions
  
  .questions__left {
    background-position: 65% bottom;
  }
  
  // Footer
  
  .footer__rights-row {
    flex-flow: column nowrap;
    text-align: center;
  }
  
  .footer__rights-item {
    margin-bottom: 16px;
  }
  
  .footer__rights-item:last-child {
    margin-bottom: 0;
  }
  
  // Modal
  
  .modal-form_inner {
    padding: 32px 24px;
  }
}

@media (max-width: 576px) {
  // Price

  .price__row {
    flex-flow: row nowrap;
    width: auto;
  }

  .price__row_wrapper {
    overflow-x: auto;
    display: block;
    width: 100%;
  }

  .price__item {
    width: 244px;
    min-width: 244px;
  }

  .price__item:last-child {
    padding-right: 15px;
  }

  // Gost

  .gost__magazine {
    top: 200px;
  }

  // Evaluation

  .evaluation__left {
    background-position: 100% bottom;
  }

  // Watcher

  .watcher {
    height: 746px;
    background-image: url("../../img/bg-watcher-mobile.png");
  }

  .watcher__tablet {
    width: 366px;
    max-width: 100%;
    left: 50%;
  }
  
  .watcher__camera {
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    width: 218px;
  }

  // Questions

  .questions__left {
    background-position: 115% bottom;
  }
}
