.radio_wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  min-height: 24px;
  margin-bottom: 24px;
}

.radio__label {
  font-size: 14px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 32px;
  transition: 100ms all linear;
}

.radio__input {
  display: none;
}

.radio__label::after {
  position: absolute;
  left: 0;
  top: 0;
  content: url("../../img/radio.svg");
}

.radio__label:hover::after {
  content: url("../../img/radio_hover.svg");
}

.radio__input:checked + .radio__label::after {
  content: url("../../img/radio_active.svg");
}
